<a href="https://colab.research.google.com/github/reve0022/ai/blob/main/01HW20220125%EA%B9%80%EC%A7%80%EB%82%9841.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 001
print('Hello World')

Hello World

In [3]:
# 002
print("Mary's cosmetics")
print('Mary\'s cosmetics')

Mary's cosmetics
Mary's cosmetics

In [5]:
# 003
print('신씨가 소리질렀다. "도둑이야"')
print("신씨가 소리질렀다. \"도둑이야\"")

신씨가 소리질렀다. "도둑이야"
신씨가 소리질렀다. "도둑이야"

In [50]:
# 004
print('"C:\windows"')

"C:\windows"

In [13]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \t는 일정 길이만큼 띄어쓰기(탭)를 \n은 줄 바꿈을 해줍니다.

안녕하세요.
만나서		반갑습니다.

In [12]:
# 006
# 오늘은 일요일 로 출력된다.

In [15]:
# 007
print('naver','kakao','sk','samaung', sep = ';')

naver;kakao;sk;samaung

In [17]:
# 008
print('naver','kakao','sk','samaung', sep = '/')

naver/kakao/sk/samaung

In [23]:
# 009
print("first", end=' ');print("second")

first second

In [51]:
# 010
print(5/3)

1.6666666666666667

In [53]:
#011
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [55]:
#012
시가총액 = 298000000000000
현재가 = 5000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
5000 <class 'int'>
15.79 <class 'float'>

In [59]:
#013
s = "hello"
t = "python"
# 기본
print(s,'!', t)
# 2 f-string
print(f'{s}! {t}')
# 3 format()
print('{}! {}'.format(s, t))
# 4 % 연산자 = ?????

hello ! python
hello! python
hello! python

In [62]:
#014
a = 2
b = 3
print('2+2*3은 []입니다.'.format(a+a*b))

2+2*3은 []입니다.

In [63]:
#015
a = "132"
print(type(a))

<class 'str'>

In [83]:
#016
?????

Object `` not found.

In [69]:
#017
????????

Object `` not found.

In [ ]:
#018
??????????????

In [71]:
#019
year = "2020"
print(int(year)-3)  
print(int(year)-2)  
print(int(year)-1)

2017
2018
2019

In [79]:
#020

month = 48584
sum = month *36

print('총금액은', sum, '원 입니다.' )

총금액은 1749024 원 입니다.