<a href="https://colab.research.google.com/github/reve0022/ai/blob/main/02HW20220126%EA%B9%80%EC%A7%80%EB%82%9811.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#51
movie_rank = ['닥터스트레인지','스플릿','럭키']
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키']

In [ ]:
#52 
movie_rank.append('배트맨')
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#53
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#54
del movie_rank[3]
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#55
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터스트레인지', '슈퍼맨']

In [ ]:
#56
lang1 = ["C","c++","JAVA"]
lang2 = ["Python","Go","C#"]
lang = lang1 + lang2
print(lang)

['C', 'c++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]


print('최댓값: ', max(nums))

print('최솟값: ', min(nums))

TypeError: ignored

In [ ]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두",
        "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(int(len(cook)))

12

In [ ]:
#60
nums = [1, 2, 3, 4, 5]
s1 = sum(nums)
s2 = int(len(nums))
print(s1/s2)

3.0

In [ ]:
#121
p = input("영문자를 입력하세요 >> ")
if p.islower():
    print(p.upper())
else:
    print(p.lower())

영문자를 입력하세요 >> a
A

In [ ]:
#122
score = int(input("당신의 점수를 입력하세요 >> "))
gr = ""
if score >=81:
  gr = "A"
elif score >=61:
  gr = "B"
elif score >=41:
  gr = "C"
elif score >=21:
  gr = "D"
else:
  gr = "F"

print(f"grade is {gr}.")

당신의 점수를 입력하세요 >> 83
grade is A.

In [ ]:
#123
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
m = input("입력: ")
num, currency = m.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [ ]:
2#124
number1 = int(input('숫자1 입력 >>> '))
number2 = int(input('숫자2 입력 >>> '))
number3 = int(input('숫자3 입력 >>> '))
n1 = int(number1)
n2 = int(number2)
n3 = int(number3)

if n1 > n2 & n1 > n3 :
  max = n1
elif n1 > n3 :
  max = n2
else :
  max = n3

print(f'{max}')

숫자1 입력 >>> 10
숫자2 입력 >>> 9
숫자3 입력 >>> 20
20

In [ ]:
#125
phone = input("당신의 휴대번호를 입력하세요 : ")
num = phone.split("-")[0]


if num =="011":
  T = "SKT"
elif num =="016":
  T = "KT"
elif num =="019":
  T = "LGU"
else:
  T = "알수없음"

print(f"당신은 {T} 사용자입니다.")

당신의 휴대번호를 입력하세요 : 011-345-1922
당신은 SKT 사용자입니다.

In [ ]:
#126
우편번호 = input("우편번호 : ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호 : 01400
도봉구

In [ ]:
#127
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 821010-1635210
남자

In [ ]:
#128
주민번호 = input("주민등록번호: ")

뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민번호 = input("주민등록번호: ")

뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 821010-1635210
서울이 아닙니다.
주민등록번호: 861010-1015210
서울입니다.

In [ ]:
#129
num = input("주민등록번호: ")

계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5

계산2 = 11 - (계산1 % 11)

계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")

else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [ ]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장