<a href="https://colab.research.google.com/github/reve0022/ai/blob/main/03HW20220127%EA%B9%80%EC%A7%80%EB%82%9811.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#91
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [2]:
#92
print(inventory["메로나"][0], "원")

300 원

In [3]:
#93
print(inventory["메로나"][1], "개")

20 개

In [16]:
#94
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [17]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
i = list(icecream.keys())

print(i)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [18]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
m = list(icecream.values())

print(m)

[1200, 1200, 1800, 1500, 1000]

In [20]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

print(sum(icecream.values ()))

6700

In [25]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [26]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [27]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [30]:
#151
list = [3, -20, -3, 44]

for n in list:
  if n < 0:
    print(n)

-20
-3

In [31]:
#152
list = [3, 100, 23, 44]
for num in list:
  if num % 3 == 0:
    print(num)

3

In [33]:
#153
list = [13, 21, 12, 14, 30, 18]
for num in list:
  if (num < 20) & (num % 3 == 0):
    print(num)

12
18

In [34]:
#154
list = ["I", "study", "python", "language", "!"]
for num in list:
  if len(num) >= 3:
    print(num)

study
python
language

In [35]:
#155
list = ["A", "b", "c", "D"]
for n1 in list:
  if n1.isupper():
    print(n1)

A
D

In [36]:
#156
list = ["A", "b", "c", "D"]
for n1 in list:
  if n1.isupper() == False:
    print(n1)

b
c

In [37]:
#157
list = ['dog', 'cat', 'parrot']
for num in list:
  print(num[0].upper() + num[1:])

Dog
Cat
Parrot

In [39]:
#158       ?????????????
list = ['hello.py', 'ex01.py', 'intro.hwp']
for num in list:
  split = num.split(",")
  print(split[0])

hello.py
ex01.py
intro.hwp

In [43]:
#159
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for num in list:
  split = num.split(".")
  if split[1] == "h":
    print(num)

intra.h
define.h

In [44]:
#160
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for num in list:
  split = num.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(num)

intra.h
intra.c
define.h