<a href="https://colab.research.google.com/github/reve0022/ai/blob/main/05HW20220228%EA%B9%80%EC%A7%80%EB%82%9811.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

#에러 발생

NameError: ignored

In [14]:
#232

def make_url(string) :
    url = "www." + string + ".com"
    return url

result = make_url("naver")
print(result)

www.naver.com

In [15]:
#233
a = make_list("abcd")
def make_list (string) :
    return list(string)

print(a)

['a', 'b', 'c', 'd']

In [21]:
#234

ret = pickup_even([3, 4, 5, 6, 7, 8])
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result
print(ret)

[4, 6, 8]

In [23]:
#235   잘 모르겠습니다 ㅠㅠ

a = convert_int("1,234,567")

def convert_int 

print(a)

SyntaxError: ignored

In [24]:
#236

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [25]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [26]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [27]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [28]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

In [ ]:
#291

In [ ]:
#292

In [ ]:
#293

In [ ]:
#294

In [ ]:
#295

In [30]:
#296

per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [31]:
#297

per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [32]:
#298

In [33]:
#299

data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [34]:
#300

per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료