<a href="https://colab.research.google.com/github/reve0022/ai/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
###############
#  주석 comment
###############

'''
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''


'''
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
Doc String
'''


# 보통 삼중 따옴표 주석은 
# 여러줄을 주석으로 
# 사용할때 사용한다



# 주석 붙이는 위치

print('Hello World') # 보통 행의 우측 또는 위에 주석을 붙인다.

Hello World

In [10]:

##############
# 변수 Variable
###############

score = 200

print(score)

score = 300

print(score)

200
300

In [11]:
a = 1
A = 2

print(a)
print(A)

1
2

In [12]:
a1= 'hi'
print(1a)

SyntaxError: ignored

In [18]:
a = 20
b = 1500

student_avg = 20
math_sum = 1500

(a)
(b)

1500

In [19]:
name = 'Alice'
age = 25
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [23]:
################
# 기본 자료형 type
################


a = int(1.9)
print(a)

b = int(True)
print(b)

c = int(False)
print(c)

1
1
0

In [29]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)


c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [33]:
# 실수  float 

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14
100.0

In [34]:
a = 100      # int a = 100 > Java

In [36]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100])
print(d)

False
False
False
True

In [40]:
####################
# 문자열 String
######################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [52]:
# 문자열 인덱싱


# hello 파이썬은 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-3])
print(s[-5]==s[0])

ss = "990211-1005432"
print(ss[7])

o
l
True
1

In [57]:
ss = "990211-1005432"
print(ss[0:2])    # 0 번때 부터 2번째 미만까지..[start:stop:step] =미만!!!!
print(ss[0:2])    # step 은 생략 가능..
print(ss[0:10:2])   # step 은 생략 가능..

99
99
901-0

In [60]:
##### print


print('Hello World')
print('Hello 'World'')

SyntaxError: ignored

In [59]:
print("Hello 'World'")

Hello 'World'

In [63]:
print('Hello \'World\'')                  #\뒤에 붙는 문자(따옴표)는 문자로 인식된다
print('Hello \"World\"')   
print("Hello \"World\"")

Hello 'World'
Hello "World"
Hello "World"

In [68]:
print('Hello \n"World"')                   # Hello와 World  줄을 바꿀때 \n을 중간에 붙이면 바꿔짐


print('이름 \n전화')

Hello
"World"
이름
전화

In [72]:
print(' 이름\t연락처')                         # \t는 일정 크기?로 띄어쓰기가 된다
print('홍길동\t010-2020-2903')

 이름	연락처
홍길동	010-2020-2903

In [74]:
print('재미있는','파이썬')                        #,자르기만 해도 띄어쓰기가 된다

재미있는 파이썬

In [81]:
print('평점')
print('5점')

print('평점','5점')

print('평점', end=':')                       # ,end='' 내리지 않고 옆으로 출력된다
print('5점')

print('평점', end='  ')                   
print('5점')

평점
5점
평점 5점
평점:5점
평점  5점

In [89]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')            #sep = 을 입력하면 문자 중간에 추가할수 있다
print('국어','영어','수학', sep = ',') 
print('국어','영어','수학', sep = '2')      
print('국어','영어','수학', sep = '\n')   
print('국어','영어','수학', sep = '\t')            
print('\n국어\n영어\n수학') 
print('국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어2영어2수학
국어
영어
수학
국어	영어	수학

국어
영어
수학
국어
영어
수학

In [105]:
# %연산자

print(10)
print('%d' % 10)                    # %d decimal 정수
print('%f' % 3.14)                  # %f float 실수
print('%s' % '학생')                # %s string 문자열

# **EX
print('%d 을 입력하세요' % 10)                    # %d decimal 정수
print('%s 을 입력하세요' % 10) 

print('\n원주율은 %f 입니다.' % 3.14)                  # %f float 실수
print('원주율은 %s 입니다.' % 3.14)         

print('\n저는 %s 입니다.' % '학생')                # %s string 문자열

std= "학생"
print('저는 %s 입니다.' % std)                # %s string 문자열
std= "대학생"
print('저는 %s 입니다.' % std) 

std= "취준생"
print('\n저는 %s 입니다.' % std) 
print('저는', std, '입니다.')

10
10
3.140000
학생
10 을 입력하세요
10 을 입력하세요

원주율은 3.140000 입니다.
원주율은 3.14 입니다.

저는 학생 입니다.
저는 학생 입니다.
저는 대학생 입니다.

저는 취준생 입니다.
저는 취준생 입니다.

In [109]:
print("%d" % 1)
print("%5d" % 1)              # 연산자인 %와 정수인 d  사이에 인덱싱을 쓰면 자리 확보하여 띄어쓰기가 된다
print("%-5d" % 1)
print("%3d" % 31)

1
    1
1
 31

In [122]:
# 소숫점 조절

print('원주율은 %f 입니다.' % 3.14)                  
print('원주율은 %5f 입니다.' % 3.14) 
print('원주율은 %5.2f 입니다.' % 3.14) 
print('원주율은 %5.1f 입니다.' % 3.14)
print('원주율은 %5.9f 입니다.' % 3.14)
print('원주율은 %3f 입니다.' % 3.14)
print('원주율은 %3.1f 입니다.' % 3.14)
print('원주율은 %0.8f 입니다.' % 3.14)
print('원주율은 %-7.3f 입니다.' % 3.14)

원주율은 3.140000 입니다.
원주율은 3.140000 입니다.
원주율은  3.14 입니다.
원주율은   3.1 입니다.
원주율은 3.140000000 입니다.
원주율은 3.140000 입니다.
원주율은 3.1 입니다.
원주율은 3.14000000 입니다.
원주율은 3.140   입니다.

In [124]:
name =  'kai'
name =  'da'
print('내 이름은 %s입니다.' % name)

내 이름은 da입니다.

In [132]:
height = 185.5
print( '내 키는 %f 입니다' % height)
print( '내 키는 %.1f 입니다' % height)
print( '내 키는 %s 입니다' % height)
print( '내 키는 %s이고 이름은 %s 입니다' % (height, name))

내 키는 185.500000 입니다
내 키는 185.5 입니다
내 키는 185.5 입니다
내 키는 185.5이고 이름은 da 입니다

In [129]:
year.month.day = 22.01.25
print(%d)

SyntaxError: ignored

In [133]:
# format()

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))

print( '내 키는 {}이고 이름은 {} 입니다'.format(height, name))

우편번호 : 06236
우편번호 : 06236
내 키는 185.5이고 이름은 da 입니다

In [137]:
print('My name is {}. I\'m {} years old.' . format('James', 25))
print('My name is {}. I\'m {} years old.' . format(25, 'James'))
print('My name is {1}. I\'m {0} years old.' . format(25, 'James'))
print('My name is {name}. I\'m {age} years old.' . format(age=25, name='James'))

My name is James. I'm 25 years old.
My name is 25. I'm James years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [140]:
# f-strings   (많이 씀! 정답)
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [144]:
# f-strings   (많이 씀! 정답)
# 파이썬 3.6 이후 부터 사용 가능
# 계산도 할수 있다.

age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [148]:
################
# 입력 input()
################

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n , '입니다.')

미미
당신이 입력한 내용은 미미 입니다.
당신이 입력한 내용은 미미 입니다.

In [149]:
n = input('당신의 나이를 입력하세요')
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n ,'입니다.')

당신의 나이를 입력하세요30
당신이 입력한 내용은 30 입니다.
당신이 입력한 내용은 30 입니다.

In [155]:
n = input('이름을 입력하세요?')
print(f'당신의 이름은 {n} 이고.')
n = input('나이를 입력하세요?')
print('나이는', n , '입니다.')


n = input('이름을 입력하세요?')
n = input('나이를 입력하세요?')
print(f'당신의 이름은 {n} 이고.')
print('나이는', n , '입니다.')

이름을 입력하세요?30
당신의 이름은 30 이고.
나이를 입력하세요?30
나이는 30 입니다.
이름을 입력하세요?30
나이를 입력하세요?30
당신의 이름은 30 이고.

나이는 30 입니다.

In [156]:
n = input('이름을 입력하세요?')
b = input('나이를 입력하세요?')
print(f'당신의 이름은 {n} 이고.','나이는', b , '입니다.')

이름을 입력하세요?김지나
나이를 입력하세요?30
당신의 이름은 김지나 이고. 나이는 30 입니다.

In [159]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')

# 기본
print('당신의 이름은', name, '이고.','나이는', age, '입니다.')

당신의 이름을 입력하세요김지나
당신의 나이를 입력하세요30
당신의 이름은 김지나 이고. 나이는 30 입니다.

In [160]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')

# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는 {age} 살입니다.')

당신의 이름을 입력하세요김지나
당신의 나이를 입력하세요30
당신의 이름은 김지나 이고 나이는 30입니다.

In [163]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')

# 3 format()
print('당신의 이름은 {} 이고 나이는 {} 살입니다.'.format(name, age))

당신의 이름을 입력하세요김지나
당신의 나이를 입력하세요30
당신의 이름은 김지나 이고 나이는 30 살입니다.

In [166]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')

# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %s 살입니다.'%(name, age))
                                                        #> 나이에 %d를 넣으면 에러남
print('당신의 이름은 %s 이고 나이는 %d 살입니다.'%(name, age))

당신의 이름을 입력하세요김지나
당신의 나이를 입력하세요30
당신의 이름은 김지나 이고 나이는 30 살입니다.

TypeError: ignored

In [167]:
name = input('당신의 이름을 입력하세요')
age = int(input('당신의 나이를 입력하세요'))
print('당신의 이름은 %s 이고 나이는 %d 살입니다.'%(name, age))

print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요김지나
당신의 나이를 입력하세요30
당신의 이름은 김지나 이고 나이는 30 살입니다.
김지나 <class 'str'>
30 <class 'int'>

In [190]:
#50000원짜리 물건을 할부로 구입하고 매달 내는 금액을 계산하는 프로그램을 작성해보자
#할부 개월은 입력을 받아서 계산한다.
#할부 개월 입력:
# ? 개월 동안 매달 내는 금액은 ? 입니다.

month = int(input('할부 개월 입력: '))
sum = 50000
monthly = sum / month 

#기본
print(month, '개월 동안 매달 내는 금액은', monthly '입니다.')
# 2 f-string
print(f'{month}개월 동안 매달 내는 금액은 {monthly} 입니다.')
# 3 format()
print('{}개월 동안 매달 내는 금액은 {}입니다.'.format(month, monthly))
# 4 % 연산자
print('%d개월 동안 매달 내는 금액은 %f 입니다.'% (month, monthly))

SyntaxError: ignored

In [195]:
#사용자로 부터 2개의 실수를 입력받아 합계를 구하는 프로그램을 작성하세요
#실수 1:
# 실수 2:
#?과 ?의 합계는 ? 입니다.
m1 = input('실수1 : ')
m2 = input('실수2 : ')
sum = int(m1+m2)
print(m1, '과', m2, '의 합계는', sum, '입니다.' )

실수1 : 10
실수2 : 20
10 과 20 의 합계는 1020 입니다.

In [ ]:
()