<a href="https://colab.research.google.com/github/reve0022/ai/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#########################
# Review
#########################
# Comment 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고
#                 사람만 읽는 내용,
#              - 일정 코드를 임시로 실행하지 않고 감추고 에러를 확인하는 용도로도 사용된다.
#              - 본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이 작성한 내용을 파악하기 용이하게 만든다.

# #을 사용하여 주석을 표시한다. (ctrl + /)

# doc string (주석의 용도로도 쓰임, ''또는 "" 두가지로 씀 = 같은 뜻/ 단 컴퓨터가 읽음)
'''
작성일 : 2022/01/26
담당자 : 홍길동
비고 : austiny@gatech.edu
'''
"""
작성일 : 2022/01/26
담당자 : 홍길동
비고 : austiny@gatech.edu
"""
# 코드의 윗쪽 또는 오른쪽에 주석을 붙인다.
print('Hello World') # 코드의 우측 또는 코드의 윗줄에 적는다.

Hello World

In [2]:
# 변수 Variable
# 어떤 값을 저장하는 저장소 (a-)
a = 100
print(a)
stumathsum = 350
stu_math_sum = 350      # _를 이용 = 스네이크 케이스 snake_case
StuMathSum = 350        # 대문자를 이용 = 캐멀 케이스 CamelCase

100

In [3]:
a1 = 100
#1a = 100  #숫자가 먼저 올수 없다.

In [4]:
#_a = 100
# @a = 100  과 같이 언더바_를 제외한 특수기호는 쓸수없다

In [5]:
홍길동 = 55
# 한글 변수명 사용이 가능하지만  쓰지 말자

In [6]:
# 인덱싱 (슬라이싱)

s = 'world'
print(s[2]) #파이썬은 인덱스 시작이 0이다. _문법 설명 : s의 2번째 자리 w=0, o= 1, r= 2, l= 3 등등
print(s[-1])#-1은 마지막 인덱스를 가리킨다.
print(s[4])

ss = '900101-2547389'
print(ss[7])      #하나만 추출할때는 indexing
addr = '서울시 강남구 역삼동 1번지' #띄어쓰기도 몇번째인지 인지
print(addr[4:6])      #여러개를 추출할때는 slicing
print(addr[4:7])

r
d
d
2
강남
강남구

In [7]:
# print() 

print( '좋은 아침입니다.')

좋은 아침입니다.

In [8]:
when = '아침'
print( '좋은',when,'입니다.')
print( '좋은 %s입니다.' % when)
print( '좋은 {}입니다.'.format(when))
print(f'좋은 {when}입니다.') #******* 제일 중요

좋은 아침 입니다.
좋은 아침입니다.
좋은 아침입니다.
좋은 아침입니다.

In [9]:
############################################################
# 리스트 list   튜플 Tuple   딕셔너리 Dict  셋 Set (자료형)
#############################################################

# 리스트 list
# 지금까지 사용한 숫자1, 문자1 등 개별적, 독립적인 자료가 아닌
# 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소 element 라고 한다.

# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
#리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다.)
list = [1,2,3,'대한','민국', True, False]
print(list)
score = [ 80,90,70,60]
print(score)
# 리스트는 인덱싱indexing과 슬라이싱slicing이 가능하다.
print(score[0]) #파이썬은 0부터 시작한다.
print(score[0:2]) # 슬라이싱은 0부터 2미만.. 처럼 끝은 미만을 나타낸다.

#리스트는 수정/삭제 가 가능하다.(mutable, 튜플은 immutable)
score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4]- indexerror 아주 많이 접하게 될 에러(예외)

# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a = ', list_a)
print('list_b = ', list_b)
print(list_a + list_b)
print(list_a*3)
print(len(list_a)) # len = 갯수 계산

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [10]:
# 리스트에 많이 사용되는 함수들...
# append() 리스트에 요소를 추가할 때 사용, 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]
[100, 90, 70, 100, 60, 70]

In [11]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가

list = []
list.insert(0,10)
print(list)

list.insert(1,50)
print(list)
list.insert(-1,90)
print(list)

[10]
[10, 50]
[10, 90, 50]

In [12]:
list_a = [1,2,3]
list_a.extend([4,5,6])
list_a #파괴적 처리방식

[1, 2, 3, 4, 5, 6]

In [13]:
list_a = [1,2,3]
list_b = [4,5,6]
list_a + list_b     #미묘한 차이...a반이 그대로 살아 있음
print(list_a)         # 비파괴적 처리방식

# 리스트 연결만으로는 list_A에 어떠한 영향도 주지 않는다.(비파괴적 처리)
# 하지만 extend() 를 사용하면 list_a에 직접적으로 영향을 주게 된다.(파괴적 처리)

# 기본적으로 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3]

In [14]:
# del() 리스트에서 위치 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1]  #index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3]  #1부터 3미만 즉 2까지
print(list_a)

del list_a[:]  #생략하면 처음부터 끝
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제 = del list_a[:]

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [ ]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

In [ ]:
list_a.pop(2)
list_a

In [ ]:
# remove 값으로 삭제

list_c = [1,2,1,2]
list_c.remove(2) # remove 는 요소의 값을 찾아 삭제한다.
                # 동일한 값이 여러개 있을때는 하나씩 순차적으로 삭제한다.
                # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
print(list_c)
list_c.remove(2) 
print(list_c)

In [ ]:
list = [1,2,3,4,5]
print(list[0])  # indexing  비파괴적으로 동작한다.
print(list)

print(list.pop())  # pop은  파괴적으로 동작한다.
print(list)

In [ ]:
# in/ not in 리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list)

print(221 in list)

print(221 not in list)

In [ ]:
# Dict 딕셔너리 (java 의 map, JS 에서는 json 과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {}를 사용하여 데이터들을 저장한다.
# 삽입/삭제가 가능하다. mutable 
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
     "name": "엔드 게임",
     "no": 1,
     "type": "히어로 무비",
    "price": 14000
}
print(dict)
dict['name']

In [20]:
dict = {
      "감독":["안소니","루소"],
      "배우":["타노스","토르","헐크"]
}

dict["감독"]

['안소니', '루소']

In [26]:
dict = {
     'name':'건조 망고',
     'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

print('name:', dict['name'])
print('type:', dict['type'])
print('ingredient:', dict['ingredient'])
print('origin:', dict['origin'])


#수정가능
dict['namne']= '망고'
print('name:', dict['name'])

print(dict['ingredient'][0])

#추가
dict['price'] = 5000

print(dict)

dict['price'] = 4000

print(dict)

#삭제

del dict['price']

print(dict)

name: 건조 망고
type: 절임 과일
ingredient: ['망고', '설탕', '색소']
origin: 필리핀
name: 건조 망고
망고
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'namne': '망고', 'price': 5000}
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'namne': '망고', 'price': 4000}
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'namne': '망고'}

In [28]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
#삭제
del dict['weight']
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [29]:
#dict 자주 등장하는 에러(예외)

#KeyError 리스트에서 없는 인덱스에 접근하려고 하면 indexError가 발생되는 것처럼
#         딕에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다

dict = {
     'name':'건조 망고',
     'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

del dict['nane']

KeyError: ignored

In [31]:
dict = {
     'name':'건조 망고',
     'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입력하세요 : ')

if key in dict:
 print(dict[key])
else:
  print('존재하지 않은 키에 접근하고 있습니다..')

>삭제를 원하는 데이터의 키값을 입력하세요 : zjzk
존재하지 않은 키에 접근하고 있습니다..

In [35]:
# 튜플 tuple
# ()를 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입, 수정등이 불가능하다 immutable
# 튜플은 1개의 원소로 작성할 때는 ,를 삽입한다. (1,)
# 튜플은 괄호를 생략할 수 있다.

t = (1,2)
print(t)
print(type(t))

t2 = 3,4
print(t2)
print(type(t2))

t3 = (5)     # (5)   ==  5
print(t3)
print(type(3))

t4 = 5     
print(t4)
print(type(t4))

t5 = (5,)     
print(t5)
print(type(t5))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
5
<class 'int'>
(5,)
<class 'tuple'>

In [38]:
t = (1,2,3,4,5)
# t[0] = 8 튜플은 수정이 불가능하다 immutable
del t[0] # 튜플은 삭제는 가능 하다

TypeError: ignored

In [40]:
t = (1,2,3,4,5)

print(t[1]) #튜플은 인덱싱이 가능하다,

print(t[2:]) #튜플은 슬라이싱이 가능하다,

2
(3, 4, 5)

In [41]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

print(t1 + t2)
print(t1)
print(t2)

print(t1 * 3)

# 비 파괴적 연산은 가능하다.

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [44]:
# Set 집합
# {} 를 사용하여 작성한다.
#중복을 허용하지 않는다
# 순서가 없다. unordered 리스트나 튜플은 순서가 있기 때문에 ordered 인덱싱과 슬라이싱을 통해
#값을 꺼낼수 있지만 딕셔너리와 셋은 순서가 없어 불가능하다.
# 중복을 허용하지 않는다는 특성을 활용하여 중복 제거 필터용으로 많이 사용한다.
# set자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# mutable 수정/삭제가 가능하다
set = {1,1,2,2,2,3,4}
print(set)  

print(li[0])

{1, 2, 3, 4}

TypeError: ignored

In [3]:
s1 = set([1,2,3])
print(type(s1))
print(s1)
#print(s1[0])

li = list(s1)
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}
<class 'list'>
[1, 2, 3]

1

In [10]:
# 집합계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

#양쪽 집합에 모두 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2) 
print(set1.intersection(set2)) 

#양쪽 집합의 모든 원소 -> 합집합
print(set1 | set2) 
print(set1.union(set2))

# 두개 집합의 차 -> 차집합
print(set1 - set2)
print(s1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [16]:
# 집합은 삽입 가능 mutable

set1 = {1,2,3}
print(set1)
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

#집합은 삭제가 가능하다. mutable
#집합은 인덱스 개념이 존재하지 않는다. 따라서 값을 지정하여 직접 삭제한다.
set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [19]:
# Q1
# 예) 학번을 입력하세요(항상5자리) >> 31025
#         출력) 3학년 10반 25번
stu_num = input('당신의 학번을 입력하세요 >>')

print(f'{stu_num[0]}학년 {stu_num[1:3]}반 {stu_num[3:]}번입니다.')

당신의 학번을 입력하세요 >>31025
3학년 10반 25번입니다.

In [28]:
#Q2 입력) 차량 번호를 입력하세요.>> 서울2가 1234
    #                            >> 288가 1234
# 출력) 서울2가1234의 차량번호 끝 4자리는 1234 입니다.

car_n = input('차량 번호를 입력하세요') 
print(f'{car_n}의 차량번호 끝 4자리는 {car_n[-4:]}입니다.')

차량 번호를 입력하세요서울2가 1234
서울2가 1234의 차량번호 끝 4자리는 1234입니다.

In [10]:
# 홀수 갯수의 문자열을 입력받아
# 가운데 글자를 추출하는 프로그램을 구현하시오.
# 입력) 문자열을 홀수로 입력하세요 >> austins  7 3
# 입력) 문자열을 홀수로 입력하세요 >> abc      3 1

# 출력) 문자열의 가운데 글자는 t입니다.
# 출력) 문자열의 가운데 글자는 b입니다.

ctx = input('문자열을 홀수로 입력하세요 >>') 
print(int(len(ctx)/2))
print(len(ctx)//2)#몫만 추출
print(len(ctx)%2)  #나머지만 추출 (홀수 짝수 배수)
nm=len(ctx)//2
anser=(int(len(ctx)/2))
print(f'해당문자열의 가운데 글자는 {ctx[int(len(ctx)/2)]}입니다')

문자열을 홀수로 입력하세요 >>aystib
3
3
0
해당문자열의 가운데 글자는 t입니다

In [6]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 요소 부터 7번째 요소만 추출한 결과에서
#2번째 요소를 출력하는 프로그램을 구현하세요 (한줄로)

li = [1,2,3,4,5,6,7,8,9]
print(li[2:7][1])

4

In [11]:
######################################
#  if
######################################

#- 에이다 러브레이스 세계최초의 프로그래이머
#특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야할 때 사용한다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.

# if 조건식:
#   만족할때 실행코드
# else:
#    만족하지 못 할때 실행코드
# if 맑으면:
#      소풍을 간다.
# else: 
#     공부를 한다

if False:
   print('만족')
else:
  print('불만족')

불만족

In [12]:
age = int(input('당신의 나이를 입력하세요 >>'))

if age >= 18:
  print('당신은 성인입니다.')
else:
  print('당신은 성인이 아닙니다.')

당신의 나이를 입력하세요 >>13
당신은 성인이 아닙니다.

In [16]:
age = int(input('당신의 나이를 입력하세요 >>'))

if age < 10:
  print('당신은 유아입니다.')
elif age < 20:
  print('당신은 10대입니다.')
elif age < 30:
  print('당신은 20대입니다.')
elif age < 40:
  print('당신은 30대입니다.')
elif age < 50:
  print('당신은 40대입니다.')
elif age < 60:
  print('당신은 50대입니다.')
elif age < 70:
  print('당신은 60대입니다.')
else:
  print('당신은 노인입니다.')

당신의 나이를 입력하세요 >>14
당신은 10대입니다.

In [22]:
# 입력) 당신의 점수를 입력하세요 >>> 95
# 출력) 당신의 점수는 95점이고 학점은 A학점입니다.
#100~90 A / 80~89 B / 70~ 79 C/ 60~ 69 D / 나머지 F

점수 = int(input('당신의 점수를 입력하세요 >>'))

if 점수<= 100:
  print(f'당신의 {점수}점이고 학점은 A학점입니다.')
elif 점수< 90:
  print(f'당신의 {점수}점이고 학점은 B학점입니다.')
elif 점수< 80:
  print(f'당신의 {점수}점이고 학점은 C학점입니다.')
elif 점수< 70:
  print(f'당신의 {점수}점이고 학점은 D학점입니다.')
else:
  print(f'당신의 {점수}점이고 학점은 F학점입니다.')

당신의 점수를 입력하세요 >>95
당신의 95점이고 학점은 A학점입니다.

In [23]:
# 진짜답
score = int(input('당신의 점수를 입력하세요 >>'))
gr = ''
if score >=90:
   gr = 'A'
elif score >=80:
   gr = 'B'
elif score >=70:
   gr = 'C'
elif score >=60:
   gr = 'D'
else:
  gr = 'F'
print(f'당신의 {score}점이고 학점은 {gr}학점입니다.')

당신의 점수를 입력하세요 >>88
당신의 88점이고 학점은 B학점입니다.

In [24]:
# 임의의 정수를 입력받아서 그 수가 3의 배수인지를 확인하는
# 프로그램을 작성하시오 % 홀수 짝수 배수
# (입력) 정수를 입력하세요 >>> 14
# (출력) 14는 3의 배수가 아닙니다.
# (입력) 정수를 입력하세요 >>> 15
# (출력) 15는 3의 배수가 입니다.
n= int(input('정수를 입력하세요 >>'))
r = ''
if n%3 !=0:
   r = '가 아닙니다'
else:
   r = '입니다.'
print(f'{n}는 3의 배수가 {r}.')

정수를 입력하세요 >>14
14는 3의 배수가 가 아닙니다.

In [27]:
# 정수3개를 입력 받아서 그 중에서 큰수를 찾아 출력하는 프로그램
#if를 꼭 사용할것
#정수1입력>3
#정수2입력>1
#정수3입력>2
#가장 큰 수는 3입니다.

n1 = int(input('정수를 입력하세요 >>'))
n2 = int(input('정수를 입력하세요 >>'))
n3 = int(input('정수를 입력하세요 >>'))

if  n1 > n2 & n1 > n3 :
   best = n1
elif n2 > n3 :
  best = n2
else:
  best = n3 
print(f' 가장 큰 수는 {best}입니다.')

정수를 입력하세요 >>5
정수를 입력하세요 >>6
정수를 입력하세요 >>5
 가장 큰 수는 6입니다.